[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phia"]
	path = phia
	url = https://github.com/heliosdrm/phia
[submodule "pwr"]
	path = pwr
	url = https://github.com/heliosdrm/pwr
